
/*********************
	Global Styles
***********************/

article,section,header,main,footer,aside,nav{
	display: block;
}

html,body,div,p,h1,h2{
	margin:0;
	padding:0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin:0 auto;
	width:100%;
	font-size: 2rem;
	height: 100%;
}

.clear-fix::before{
	content: "";
	display: table;
}
.clear-fix::after{
	content: "";
	display: table;
	clear: both;
}
/*********************
	Header Styles
***********************/

header{
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0;
    padding: 1rem;
	border-bottom: 1px solid #ccc;
	position: relative;
}

header div{
	display: inline-block;
}

header .logo{
   font-size: 3rem;
    color: rgba(0, 0, 255, 0.92);
    letter-spacing: -0.8rem;
    width: 50%;
    text-align: left;
}

header .logo::first-letter{
	color:rgba(255, 0, 0, 0.75);
}


header .menu-icon{
	width: 50%;
    text-align: right;
}

.rotate-menu{
	transform:rotate(90deg);
}

/***** nav Styles *****/

.menu-list{
	width: 12rem;
	height: 0px;
	font-size: 2rem;
	color: #696969;
    position: absolute;
    right: 0.7rem;
	z-index:200;
	background-color:#fff;
	overflow: hidden;
}

.menu-list li{
	display: block;
	padding: 0;
	cursor: pointer;
	padding:0.5rem;
}

.menu-list li:hover{
	background-color:#ddd;
}
.menu-list ul{
	display: block;
	margin: 0;
	padding: 0.5rem;
	list-style:none;
	border: 1px solid #ccc;
}

.menu-list .register-logo{
	background-image: url("../../resources/images/Register.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:2rem;
	height:2rem;
	display: inline-block;
}
.show-menu{
	animation:expand-menu 1s  forwards;
}
.hide-menu{
	animation:shrink-menu 1s forwards;
}
@keyframes expand-menu{
	0%{
		height:0px;
	}
	100%{
		height:8rem;
	}
}
@keyframes shrink-menu{
	0%{
		height:8rem;
	}
	100%{
		height:0px;
	}
}


/*********************
	Main Article Styles
***********************/
main{
	height: calc(100% - 11.5rem);
	width:90%;
	margin:0 auto;
}
article.offersAround{
	height: 100%;
}


/***** search tab styles *****/

.searchTab{
	position: relative;
    font-size: 0;
    width: 99%;
    margin: 1rem auto 1rem;
}
.searchTab input[type="text"]{
	border: 1px solid #ccc;
    border-radius: 2px;
    height: 4rem;
    padding-left: 1rem;
    width: calc(100% - 40px);
    font-size: 1.5rem;
    border-right: 0;
}

article>h1{
	text-align: center;
    font-size: 2.5rem;
    color: #9E9E9E;
}

/*** offer style ****/
#offersList{
	height: calc(100% - 8.8rem);
	overflow: auto;
}

.offer{
	width: 90%;
    margin: 0 auto;
	border: 1px solid #ccc;
	margin-top: 1rem;
}


.offer .offer-header{
	border-bottom: 1px solid #ccc;
	padding: 0.5rem;
	font-size: 0;
}

.offerName,.comment-list h1{
	display: inline-block;
	width: calc(100% - 20px);
	text-align: center;
    font-size: 2rem;
    color: #9E9E9E;
}

.offerContent{
	margin: 0 auto;
    padding: 1rem;
	line-height: 1.5rem;
	float: left;
	width:calc(100% - 4rem);
	height: 12rem;
    overflow: auto;
}
/*.offerContent:hover{
	width:calc(100% - 4rem);
}*/

.sideBar{
	float: left;
    border-left: 1px solid #ccc;
	width:4rem;
	/* display: none; */
}

.sideBar span{
	padding: 1rem;
	display: block;
	cursor: pointer;
}

.sideBar .view-details-link{
	background-image: url(../../resources/images/new-window.png);
    background-size: 3rem 3rem;
    background-position: center;
	background-repeat: no-repeat;
	padding-top: 3rem;
}
.add-comment{
	display: none;
    padding: 1rem;
	overflow: hidden;
	border-top: 1px solid #ccc;
	font-size: 0;
}

.comment-box{
	  width: 90%;
	 float: left;
     border: 1px solid #ddd;
     border-radius: 2px;
     height: 3.2rem;
     padding-left: 5px;
     border-right: none !important;
 }
 .add-comment-button{
    padding: 0.7rem;
	background: #2196F3;
	float: left;
	cursor: pointer;
 }
 .add-comment-button::before{
	 color: #fff !important;
	 font-size: 1.8rem !important;
 }

.comment-box:focus{
 	outline:none;
 }
.comment-list{
 	display: none;
    height: 11rem;
    border-top: 1px solid #ddd;
    width: 100%;
    padding: 0.5rem;
    clear: both;
 }
.close-comments{
	float: right;
}
 .username{
 	margin-right:0.5rem;
 	color:#2196F3;
 }
 #comment-content{
 	overflow: auto;
	max-height: 8rem;
	clear: both;
	padding: 1rem;
 }
 .offer-comment{
 	margin-bottom:1rem;
 }

/*********************
	Footer Styles
***********************/
footer{
	padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: #9E9E9E;
    border-top: 1px solid #ccc;
}

/*********************
	Dialog Styles
***********************/
.offer-details-dialog{
	z-index: 100;
    min-height: 10rem;
    min-width: 40rem;
    background-color: #fff;
    position: fixed;
    left: 30%;
    top: 20%;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #eee;
}
.offer-dialog-header{
	padding: 0.5rem;
    color: #fff;
    background-color: #1b97f3;
    text-align: center;
    font-size: 2rem;
}

.offer-details-dialog .close-dialog{
	float: right;
}

.offer-details-dialog .fa-window-close:before{
   color: #fff;
}


.offer-dialog-container div{
	margin-top: 1rem;
	font-size: 0;
}
.offer-details-dialog .label-name{
	width: 38%;
    display: inline-block;
    text-align: right;
	padding-right: 2rem;
	font-size: 1.8rem;
}

.offer-details-dialog .form-input{
	display: inline-block;
    width: 60%;
    padding-right: 2rem;
}

.offer-details-dialog .form-input input{
	width: 100%;
    height: 2.6rem;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding-left: 0.5rem;
}
 .offer-details-dialog .reg-button,.offer-details-dialog .login-button{
	text-align: center;
}
 .offer-details-dialog .reg-button input,.offer-details-dialog .login-button input{
	padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #1b97f3;
	color: #fff;
	cursor: pointer;
	font-size: 1.5rem;
}

.offer-details-dialog .offer-label{
	width: 25%;
    display: inline-block;
    text-align: right;
    padding-right: 2rem;
    font-size: 1.8rem;
}
.offer-details-dialog .offer-content{
	min-height: 20rem;
    width: 95%;
    border: 1px solid #ccc;
    margin: 1rem;
	padding: 1rem;
	max-height: 20rem;
	overflow-y: auto;
}
/*********************
	Third Party Styles
***********************/
.fa-bars:before {
    content: "\F0C9";
	font-size: 3rem;
	cursor: pointer;
	color: #1b97f3;
}

.fa-window-close:before {
    content: "\f2d3";
	color:#1b97f3;
	cursor:pointer;
	font-size: 2rem;
}
.fa-pencil-square-o::before,.fa-plus::before,.fa-eye::before{
	font-size: 2rem;
    color: #2196F3;
}

.searchTab .fa-search::before {
    content: "\f002";
    border: 1px solid #ddd;
    padding: 0.9rem;
    color:#1b97f3;
    cursor: pointer;
    position: absolute;
    top: 0rem;
    font-size: 2rem;
}

.menu-list .fa-sign-out:before,
.menu-list .fa-sign-in:before{
	color:#2196F3;
	font-size:2rem;
	margin-right:1rem;
}