
/*** offer style ****/
#offersList{
	height: calc(100% - 5rem);
    overflow-y: auto;
}

.offer{
    width: 90%;
    margin: 0 auto;
    border: 2px solid #eeeeee;
    margin-top: 1rem;
    display: flex;
    padding: 0.8rem 0.3rem;
}


.offer .offerName{
    width: 70%;
    font-size: 1.4rem;
    color: #9E9E9E;
    text-transform: capitalize;
    border-right: 2px solid #ccc;
    margin-right: 0.2rem;
}

.offer .actions{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}


.edit-icon{
    background-image: url("../resources/images/pencil.svg");
    height:1.1rem;
    width:1.1rem;
}


.view-icon{
    background-image: url("../resources/images/eye.png");
    height:1.4rem;
    width:1.4rem;
}

.delete-icon{
    background-image: url("../resources/images/trash.png");
    height:1.1rem;
    width:1.1rem;
}

